version: '3.9'

services:
  spotify-analytics:
    build: .
    container_name: spotify-analytics
    restart: unless-stopped
    ports:
      - '8181:80'
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: '1'

